<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.uinme.tools.azdatachecker.mapper_sqlite.DDLMapper">
  <update id="createTable">
    create table data_check_report (
      file_name text not null primary key,
      duplicate integer,
      csv_count integer,
      db_counr integer
    )
  </update>
</mapper>